<div class= "main" fxLayout="column" fxLayoutAlign= "center center">
        <mat-card *ngIf="!submitted" class="card">
                <mat-card-title fxLayout="row" fxLayoutAlign="center center">Login</mat-card-title>
                <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                        <form [formGroup]="forgotPasswordForm"  (ngSubmit)="onSubmit()" >
                                <mat-form-field appearance="outline">
                                  <mat-label>Email</mat-label>
                                  <input matInput placeholder="" type="text" formControlName="email" >
                                </mat-form-field>
                          
                                <span fxLayout="row" fxLayoutAlign="center">
                                  <button mat-raised-button type="submit" color="warn">Submit</button>
                                </span>

                          
                                </form>
    
                </mat-card-content>
        </mat-card>
        <mat-card *ngIf="submitted">
            <mat-card-content>
                <h4>If You are register you will receive an email</h4>
            </mat-card-content>
        </mat-card>
    
    </div>