<div class= "main" fxLayout="column" fxLayoutAlign= "center center">
    <mat-card class="card">
            <mat-card-title fxLayout="row" fxLayoutAlign="center center">Login</mat-card-title>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                    <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()" >
                            <mat-form-field appearance="outline">
                              <mat-label>Email</mat-label>
                              <input matInput placeholder="" type="text" formControlName="email" >
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Password</mat-label>
                              <label>
                                <input matInput type="password" formControlName="password"  >
                              </label>
                            </mat-form-field>
                      
                            <span fxLayout="row" fxLayoutAlign="center">
                              <button mat-raised-button type="submit" color="warn">Login</button>
                            </span>
                      
                            <span fxLayout="row" fxLayoutAlign="end" fxLayoutGap="">
                              <a mat-flat-button routerLink="/forgotpassword">Forgot Password</a>
                              <a mat-flat-button  routerLink="/register"
                                 routerLinkActive="active">Register</a>
                      
                              <span fxFlexOffset="12px"></span>
                            </span>
                      
                            </form>

            </mat-card-content>
    </mat-card>

</div>