<div class= "main" fxLayout="column" fxLayoutAlign= "center center">
    <mat-card class="card">
            <mat-card-title fxLayout="row" fxLayoutAlign="center center">Change Password</mat-card-title>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                    <form [formGroup]="passwordForm"  (ngSubmit)="onSubmit()" >
                        <mat-form-field appearance="outline">
                            <mat-label>Old Password</mat-label>
                            <input matInput placeholder="" type="password" formControlName="oldpassword" >
                          </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Password</mat-label>
                              <input matInput placeholder="" type="password" formControlName="password" >
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Confirm password</mat-label>
                              <label>
                                <input matInput type="password" formControlName="confirmpassword"  >
                              </label>
                              <mat-error *ngIf="confirmpassword.invalid">
                                <div *ngIf="confirmpassword.errors?.passwordNotMatch">
                                  Password does not match.
                                </div>
                              </mat-error>
                            </mat-form-field>
                      
                            <span fxLayout="row" fxLayoutAlign="center">
                              <button mat-raised-button type="submit" color="warn">Change Password</button>
                            </span>
                      
                            </form>

            </mat-card-content>
    </mat-card>

</div>