<div class= "main" fxLayout="column" fxLayoutAlign= "center center">
        <mat-card *ngIf="formvisible" class="card">
                <mat-card-title fxLayout="row" fxLayoutAlign="center center">Reset Password</mat-card-title>
                <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                        <form [formGroup]="resetpasswordForm"  (ngSubmit)="onSubmit()" >
                                <mat-form-field appearance="outline">
                                  <mat-label>password</mat-label>
                                  <input matInput placeholder="" type="password" formControlName="password" >
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                        <mat-label>Confirm Password</mat-label>
                                        <input matInput placeholder="" type="password" formControlName="confirmpassword" >
                                      </mat-form-field>
                          
                                <span fxLayout="row" fxLayoutAlign="center">
                                  <button mat-raised-button type="submit" color="warn">Submit</button>
                                </span>

                          
                                </form>
    
                </mat-card-content>
        </mat-card>
        <mat-card *ngIf="submitted">
                <mat-card-content>
                    <h4>Password has been reset successfully</h4>
                </mat-card-content>
            </mat-card>
    </div>